name: build

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Lazarus
        uses: sxmxta/lazarus@v1
        with:
          lazarus-version: stable

      - name: Build
        run: |
          lazbuild --version
          lazbuild -B "src/LibreOfficeCalcSearch.lpi"
